.navContainer{
    display: flex;
    width: auto;
    justify-content: center;
    margin:auto;
    padding: 30px;
}

.navContainer input{
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: Arial;
    font-size: 15px;
    border-radius: 10px;
    border-color: rgba(102, 0, 122);
}

#searchButton {
    background-color: rgba(102, 0, 122, 70%);
    padding: 12px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    
    color: rgb(253, 251, 253);
    font-weight: bold;
    font-size: 17px;
    text-shadow: 2px 2px 1px #0e1d5a;
    font-family: Arial;
    text-decoration: none;
}

#searchButton:hover {
    background-color: rgba(6, 0, 7, 0.7); 
    box-shadow: 6px 5px 24px #666666;
    transition-delay: 0.2s;
    transition: 0.8s;
}

#navButton{
    background-color: rgba(6, 0, 7, 60%);
    padding: 12px;
    border-radius: 10px;
    border-style: none;
    position: absolute;
    top: 40px; right: 80px;
    cursor: pointer;
    
    color: rgb(253, 251, 253);
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 1px #0e1d5a;
    font-family: Arial;
    text-decoration: none;
}

#navButton:hover {
    background-color: rgba(102, 0, 122, 60%);
    color: antiquewhite;
    box-shadow: 6px 5px 24px #666666;
    transition-delay: 0.2s;
    transition: 0.8s;
}